body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(217, 235, 246),rgb(101, 168, 235),rgb(98, 200, 241))
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #dbf3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color:rgb(49, 147, 204);
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

label {
    display: block;
    font-size: 1rem;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #3498db;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #27ae60;
}
